<center><font size="5" color="blue">添加用户账号</font></center>
<br/>

<%= error_messages_for :user%>

<iframe name="iframe" style="display:none;"></iframe>

<% form_tag "/admin/user/create", :multipart => true, :target => 'iframe' do %>
<table border="1" cellspacing="0" align="center" width="80%" height="100%">
	<tr>
		<td bgcolor="#BBFFFF" align="center">用户名：</td>
		<td><%= text_field :user, :login%></td>
	</tr>
	<tr>
		<td bgcolor="#BBFFFF" align="center">密码：</td>
		<td><%= password_field_tag "new_password"%><font size="2" color="red">*输入6位密码</font></td>
	</tr>
	<tr>
		<td bgcolor="#BBFFFF" align="center">Email:</td>
		<td><%= text_field :user, :email%>
		</td>
	</tr>
	<tr>
		<td bgcolor="#BBFFFF" align="center">性别：</td>
		<td>
			男：<%= radio_button(:user, :gender, "男")%>&nbsp;&nbsp;
			女：<%= radio_button(:user, :gender, "女")%>
		</td>
	</tr>
	<tr>
		<td bgcolor="#BBFFFF" align="center">年龄：</td>
		<td><%= text_field :user, :age, :maxlength => 2%></td>
	</tr>
	<tr>
		<td bgcolor="#BBFFFF" align="center">Tel:</td>
		<td><%= text_field :user, :tel,:maxlength=> 20%></td>
	</tr>
</table>
<br/>
<div id='user_image'>
	<%= link_to_remote "添加图片", :url => {:controller => '/admin/user', :action => "add_user_image"}%>
</div>
<!--
用户头像：<%= file_field (:commodity, :image, :onchange => 'this.form.action="/admin/user/image_preview";this.form.submit();')%>
<div id='image_preview_1'></div>
-->
<br/>
<%= button_to_function "提交", "this.form.action='#{url_for :action =>'create'}';this.form.target='_self';this.form.submit()"%>

<%end%>
<%= button_to "返回", :action => "index"%>
