<br/><br/>

<table width="100%" align="center"> 
	<tr>
		<td width="20%" align="center"><%= image_tag @image%></td>
		<td>
			<table border="1" cellspacing="0" width="100%" align="center">
				<tr>
					<td bgcolor="#BBFFFF" width="70">商品ID</td>
					<td><%= @review.product.id rescue '--'%></td>
				</tr>
				<tr>
					<td bgcolor="#BBFFFF" width="70">商品名</td>
					<td><%= @review.product.name rescue '--'%></td>
				</tr>
				<tr>
					<td bgcolor="#BBFFFF" width="70">评价内容</td>
					<td><%= @review.content rescue '--'%></td>
				</tr>
				<tr>
					<td bgcolor="#BBFFFF" width="70">评论者</td>
					<td><%= @review.user.login rescue '--'%></td>
				</tr>
				<tr>
					<td bgcolor="#BBFFFF" width="70">时间</td>
					<td><%= @review.created_at.strftime("%Y-%m-%d")%></td>
				</tr>
			</table>
		</td>
	</tr>
</table>


<br/><br/>
<center>
<%= button_to "返回", :action => "index"%>
</center>